{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block navigation %}
    <li class="breadcrumb-item"><a href="{{ url_for('homepage') }}">Home</a></li>
{% endblock %}
{% block content %}
    <div class="container">
    <div class="text-center">
        <h1 class="mt-5">Welcome to Twitter Analyzer!</h1>
        <p>Explore and Analyze Tweets using <a href="https://en.wikipedia.org/wiki/Sentiment_analysis" target="_blank">Sentiment Analysis</a></p>
        <div class="row justify-content-center">
            <a href="{{ url_for('twitter_login') }}">
                <img class="save_button" src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.img.fullhd.medium.png" width="auto" height="auto">
            </a>
        </div>
        <div class="row justify-content-center pt-4">
            <a href="{{ url_for('search') }}">
                <button id="lg-ano" type="button" class="btn btn-secondary btn-sm save_button">
                    <strong>Continue without login</strong>
                </button>
            </a>
        </div>
    </div>
    </div>
{% endblock %}

